{% extends 'main/base_pub.html' %}
{% load static %}

{% block styles %}
.inscroll_list{
    display: block;
}
.content_buttons{
    display: none;
}
{% endblock%}

{% block title %}
Pub / Алкоголь
{% endblock %}

{% block leftlist %}
<li class="t1"><a href="{% url 'lunch' %}">Сніданок-Ланч</a></li>
<li class="t1"><a href="{% url 'salad' %}">Салати</a></li>
<li class="t1"><a href="{% url 'soup' %}">Супи</a></li>
<li class="t1"><a href="{% url 'grill' %}">Гриль страви</a></li>
<li class="t1"><a href="{% url 'pizza' %}">Піца</a></li>
<li class="t1"><a href="{% url 'dessert' %}">Десерти</a></li>
<li class="t1"><a href="{% url 'garnir' %}">Гарніри</a></li>
<li class="t1"><a href="{% url 'tea_coffee' %}">Чай та Кава</a></li>
<li class="t1"><a href="{% url 'home' %}">Домашні чаї та зігріваючі напої</a></li>
<li class="t1"><a href="{% url 'water' %}">Вода і газовані напої</a></li>
<li class="t1_1"><a href="{% url 'alco' %}">Міцний алкоголь та пиво</a></li>
<li class="t1"><a href="{% url 'zak_beer' %}">Закуски до пива</a></li>
<li class="t1"><a href="{% url 'zak_cold' %}">Холоднi закуски</a></li>
<li class="t1"><a href="{% url 'coctails' %}">Алкогольні коктейлі</a></li>
<li class="t1"><a href="{% url 'non_alco_coctails' %}">Безалкогольні коктейлі</a></li>
{% endblock%}

{% block content_top %}
<div class="content_top">
    <img src="{% static 'img/content_top_2/alco.png' %}" width="100%" height="100%">
</div>
{% endblock %}

<!------------------------------------------------------------------------------------------>

{% block content2 %}
<div class="menu_list">
    <div class="menu_list_in">
        <div class="menu_list_head_name">Водка</div>
        <div class="menu_list_head_price">Цiна,грн</div>
        <div class="menu_list_head_weight">Вага,г/мл</div>

        {% for el in vodka %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

        <div class="menu_list_head_name_2">Брендi</div>
        {% for el in brendi %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Коньяк</div>
        {% for el in konjack %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Вино на бокал</div>
        {% for el in vine_bokal %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Iгристi вина</div>
        {% for el in vine_igr %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Бiлi вина</div>
        {% for el in vine_white %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Червонi вина</div>
        {% for el in vine_red %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Пиво</div>
        {% for el in beer %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Вiскi</div>
        {% for el in whiskey %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Лiкери</div>
        {% for el in liker %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Джин</div>
        {% for el in djin %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Ром</div>
        {% for el in rom %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

       <div class="menu_list_head_name_2">Вермути</div>
        {% for el in vermut %}
        <div style="width: 100%; float: left">
            <div class="menu_list_name">{{el.name}}</div>
            <div class="menu_list_price">{{el.price}}</div>
            <div class="menu_list_weight">{{el.weight}}</div>
            <div class="menu_list_spec">{{el.spec}}</div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}